body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}


.nav-link{
    color:#222 !important;
}

/* footer */

.f-info-links a {
    text-decoration:none; 
    color: #222;  
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;
    align-items: space-evenly;
    background-color: #ebebeb;
    text-align: center;
}

.f-info-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.f-info-socials ,.f-info-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom:2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover;
}

.card-body{
    padding:0 !important;
}

.card-text p {
   font-weight:400 !important;

}

.listing-link{
    text-decoration:none !important ;
}

/* Card effect */
.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.container{
    flex: 1 !important;;
}

.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

.show-img{
    height:35vh;
}

.btns{
    display: flex;
    align-items: center;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}


.filter p {
  font-size: 0.8rem;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 768px) {
  .filters {
    display: none;
  }
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
