<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <h1 class="clo-6 offset-3">Login to Wanderlust</h1>
    <div class="col-6 offset-3">
       <form action="/login" method="POST" novalidate class="needs-validation" >
        <div class="mb-3">
             <lable for="username" class="form-lable">Username</lable>
            <input name="username"  
              class="form-control" 
              type="text" 
              required
            />
            
        </div>
    
        <div class="mb-3">
            <lable for="password" class="form-lable">Password</lable>
            <input name="password"  
            class="form-control" 
            type="password" 
            required
            />  
        </div>
          <button class="btn btn-success">Login</button>
       </form>
    </div>
</div>
